body {
	/*background: linear-gradient(2deg, #002410 0%, #00684B 51%, #00A09B 85%);*/
	background-color:#007E92;
}
h1, h2, h3, h4 {
	color: #DEDEDE;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 30px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 18px;
}

.headshot {
	width: 50%;
	border-radius: 50%;
}

a {
	color: #DEDEDE;
}

a:hover {
	color: #A6CDDB;
	text-decoration: none;
}

.social-icon i {
	font-size: 28px;
}