.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; 
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}
body {
  height: 3000px; /* Used to enable scrolling */
  background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
}
.fish-image {
  margin-bottom: 20px; 
}      
