<html>
  {{template "header.tmpl.html"}}
<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Cyrus Javan</h1>
  </div>
</div>
<div class="container">
  <div id="" class="row">
    <p>Hello. I do full stack web development for a living. I also do Brazillian Jiu Jitsu. Anything found within was delicately hand placed by yours truly, and represents myself and only myself.</p>
  </div>
  <div class="row">
    <h2>Currently</h2>
    <p>I work at <a href="https://www.betterhelp.com/" rel="noopener noreferrer" target="_none">BetterHelp</a></p>
  </div>
</div>

</body>
</html>
